// Ported from VPLocalNav.vue, VPLocalNavOutlineDropdown.vue, VPDoc.vue,
// VPDocAside.vue, VPDocFooter.vue

.VPLocalNav {
  position: sticky;
  top: 0;
  left: 0;
  z-index: var(--vp-z-index-local-nav);
  border-bottom: 1px solid var(--vp-local-nav-divider-color);
  padding-top: var(--vp-layout-top-height, 0px);
  width: 100%;
}

.VPLocalNav::before {
  content: "";
  position: absolute;
  inset: 0;
  z-index: -1;
  background-color: var(--vp-local-nav-bg-color);
  backdrop-filter: var(--vp-nav-backdrop-filter);
  transition: background-color 0.25s;
}

@media (min-width: 60rem) {
  .VPLocalNav {
    top: var(--vp-nav-height);
  }

  .VPLocalNav::before {
    top: calc(-1 * var(--vp-nav-height));
  }

  .VPLocalNav.has-sidebar {
    padding-left: var(--vp-sidebar-width);
  }

  .VPLocalNav.empty {
    display: none;
  }
}

@media (min-width: 80rem) {
  .VPLocalNav {
    display: none;
  }
}

.VPLocalNav .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.VPLocalNav .menu {
  display: flex;
  align-items: center;
  line-height: 2;
  font-size: 0.75rem;
  font-weight: 500;
  color: var(--vp-c-text-2);
  transition: color 0.5s;
}

.VPLocalNav .menu:hover {
  color: var(--vp-c-text-1);
  transition: color 0.25s;
}

@media (min-width: 60rem) {
  .VPLocalNav .menu {
    display: none;
  }
}

.VPLocalNav .menu-icon {
  margin-right: 0.5rem;
  font-size: 0.875rem;
}

.VPLocalNav .menu,
.VPLocalNavOutlineDropdown > button {
  padding: 0.75rem 1.5rem 0.6875rem;
}

@media (min-width: 48rem) {
  .VPLocalNav .menu,
  .VPLocalNavOutlineDropdown > button {
    padding: 0.75rem 2rem 0.6875rem;
  }
}

// VPLocalNavOutlineDropdown

.VPLocalNavOutlineDropdown button {
  display: block;
  font-size: 0.75rem;
  font-weight: 500;
  line-height: 2;
  color: var(--vp-c-text-2);
  transition: color 0.5s;
  position: relative;
}

.VPLocalNavOutlineDropdown button:hover {
  color: var(--vp-c-text-1);
  transition: color 0.25s;
}

.VPLocalNavOutlineDropdown button.open {
  color: var(--vp-c-text-1);
}

.VPLocalNavOutlineDropdown .icon {
  display: inline-block;
  vertical-align: middle;
  margin-left: 0.125rem;
  font-size: 0.875rem;
  transform: rotate(0);
  transition: transform 0.25s;
}

@media (min-width: 60rem) {
  .VPLocalNavOutlineDropdown button {
    font-size: 0.875rem;
  }

  .VPLocalNavOutlineDropdown .icon {
    font-size: 1rem;
  }
}

.VPLocalNavOutlineDropdown button.open > .icon {
  transform: rotate(90deg);
}

.VPLocalNavOutlineDropdown .items {
  position: absolute;
  top: 2.5rem;
  right: 1rem;
  left: 1rem;
  display: grid;
  gap: 1px;
  border: 1px solid var(--vp-c-border);
  border-radius: 0.5rem;
  background-color: var(--vp-c-gutter);
  max-height: calc(var(--vp-vh, 100vh) - 5.375rem);
  overflow: hidden auto;
  overscroll-behavior: contain;
  box-shadow: var(--vp-shadow-3);
}

@media (min-width: 60rem) {
  .VPLocalNavOutlineDropdown .items {
    right: auto;
    left: calc(var(--vp-sidebar-width) + 2rem);
    width: 20rem;
  }
}

.VPLocalNavOutlineDropdown .header {
  background-color: var(--vp-c-bg-soft);
}

.VPLocalNavOutlineDropdown .top-link {
  display: block;
  padding: 0 1rem;
  line-height: 3.4285714;
  font-size: 0.875rem;
  font-weight: 500;
  color: var(--vp-c-brand-1);
}

.VPLocalNavOutlineDropdown .outline {
  padding: 0.5rem 0;
  background-color: var(--vp-c-bg-soft);
}

// VPDoc

.VPDoc {
  padding: 2rem 1.5rem 6rem;
  width: 100%;
}

@media (min-width: 48rem) {
  .VPDoc {
    padding: 3rem 2rem 8rem;
  }
}

@media (min-width: 60rem) {
  .VPDoc {
    padding: 3rem 2rem 0;
  }

  .VPDoc:not(.has-sidebar) .container {
    display: flex;
    justify-content: center;
    max-width: 62rem;
  }

  .VPDoc:not(.has-sidebar) .content {
    max-width: 47rem;
  }
}

@media (min-width: 90rem) {
  .VPDoc:not(.has-sidebar) .content {
    max-width: 49rem;
  }

  .VPDoc:not(.has-sidebar) .container {
    max-width: 69rem;
  }
}

.VPDoc .container {
  margin: 0 auto;
  width: 100%;
}

.VPDoc .aside {
  position: relative;
  display: none;
  order: 2;
  flex-grow: 1;
  padding-left: 2rem;
  width: 100%;
  max-width: 16rem;
}

.VPDoc .aside-container {
  position: fixed;
  top: 0;
  padding-top: calc(var(--vp-nav-height) + var(--vp-layout-top-height, 0px) + var(--vp-doc-top-height, 0px) + 3rem);
  width: 14rem;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  scrollbar-width: none;
}

.VPDoc .aside-container::-webkit-scrollbar {
  display: none;
}

.VPDoc .aside-curtain {
  position: fixed;
  bottom: 0;
  z-index: 10;
  width: 14rem;
  height: 2rem;
  background: linear-gradient(transparent, var(--vp-c-bg) 70%);
  pointer-events: none;
}

.VPDoc .aside-content {
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - (var(--vp-nav-height) + var(--vp-layout-top-height, 0px) + 3rem));
  padding-bottom: 2rem;
}

.VPDoc .content {
  position: relative;
  margin: 0 auto;
  width: 100%;
}

@media (min-width: 60rem) {
  .VPDoc .content {
    padding: 0 2rem 8rem;
  }
}

@media (min-width: 80rem) {
  .VPDoc .content {
    order: 1;
    margin: 0;
    min-width: 40rem;
  }
}

.VPDoc .content-container {
  margin: 0 auto;
}

.VPDoc.has-aside .content-container {
  max-width: 43rem;
}

@media (min-width: 80rem) {
  .VPDoc .container {
    display: flex;
    justify-content: center;
  }

  .VPDoc .aside {
    display: block;
  }
}


// VPDocAside

.VPDocAside {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.VPDocAside .spacer {
  flex-grow: 1;
}

// VPDocFooter

.VPDocFooter {
  margin-top: 4rem;
}

.VPDocFooter .edit-info {
  padding-bottom: 1.125rem;
}

@media (min-width: 40rem) {
  .VPDocFooter .edit-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 0.875rem;
  }
}

.VPDocFooter .edit-link-button {
  display: flex;
  align-items: center;
  border: 0;
  line-height: 2.2857143;
  font-size: 0.875rem;
  font-weight: 500;
  color: var(--vp-c-brand-1);
  transition: color 0.25s;
}

.VPDocFooter .edit-link-button:hover {
  color: var(--vp-c-brand-2);
}

.VPDocFooter .edit-link-icon {
  margin-right: 0.5rem;
}

.VPDocFooter .prev-next {
  border-top: 1px solid var(--vp-c-divider);
  padding-top: 1.5rem;
  display: grid;
  grid-row-gap: 0.5rem;
}

@media (min-width: 40rem) {
  .VPDocFooter .prev-next {
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 1rem;
  }
}

.VPDocFooter .pager-link {
  display: block;
  border: 1px solid var(--vp-c-divider);
  border-radius: 0.5rem;
  padding: 0.6875rem 1rem 0.8125rem;
  width: 100%;
  height: 100%;
  transition: border-color 0.25s;
}

.VPDocFooter .pager-link:hover {
  border-color: var(--vp-c-brand-1);
}

.VPDocFooter .pager-link.next {
  margin-left: auto;
  text-align: right;
}

.VPDocFooter .desc {
  display: block;
  line-height: 1.6666667;
  font-size: 0.75rem;
  font-weight: 500;
  color: var(--vp-c-text-2);
}

.VPDocFooter .title {
  display: block;
  line-height: 1.4285714;
  font-size: 0.875rem;
  font-weight: 500;
  color: var(--vp-c-brand-1);
  transition: color 0.25s;
}

// VPFooter

.VPFooter {
  position: relative;
  z-index: var(--vp-z-index-footer);
  border-top: 1px solid var(--vp-c-gutter);
  padding: 2rem 1.5rem;
  background-color: var(--vp-c-bg);
}

.VPFooter.has-sidebar {
  display: none;
}

.VPFooter a {
  text-decoration-line: underline;
  text-underline-offset: 0.125rem;
  transition: color 0.25s;
}

.VPFooter a:hover {
  color: var(--vp-c-text-1);
}

@media (min-width: 48rem) {
  .VPFooter {
    padding: 2rem;
  }
}

.VPFooter .container {
  margin: 0 auto;
  max-width: var(--vp-layout-max-width);
  text-align: center;
}

.VPFooter .message,
.VPFooter .copyright {
  line-height: 1.7142857;
  font-size: 0.875rem;
  font-weight: 500;
  color: var(--vp-c-text-2);
}
