// Ported from VPTeamPage.vue, VPTeamPageTitle.vue, VPTeamPageSection.vue,
// VPTeamMembers.vue and VPTeamMembersItem.vue

.VPTeamPage {
  margin: 6rem 0;
}

@media (min-width: 48rem) {
  .VPTeamPage {
    margin: 8rem 0;
  }
}

.VPTeamPage .VPTeamPageTitle {
  border-top: 1px solid var(--vp-c-gutter);
  padding-top: 5.5rem !important;
}

.VPTeamPage .VPTeamPageSection + .VPTeamPageSection,
.VPTeamPage .VPTeamMembers + .VPTeamPageSection {
  margin-top: 4rem;
}

.VPTeamPage .VPTeamMembers + .VPTeamMembers {
  margin-top: 1.5rem;
}

@media (min-width: 48rem) {
  .VPTeamPage .VPTeamPageTitle + .VPTeamPageSection {
    margin-top: 1rem;
  }

  .VPTeamPage .VPTeamPageSection + .VPTeamPageSection,
  .VPTeamPage .VPTeamMembers + .VPTeamPageSection {
    margin-top: 6rem;
  }
}

.VPTeamPage .VPTeamMembers {
  padding: 0 1.5rem;
}

@media (min-width: 48rem) {
  .VPTeamPage .VPTeamMembers {
    padding: 0 3rem;
  }
}

@media (min-width: 60rem) {
  .VPTeamPage .VPTeamMembers {
    padding: 0 4rem;
  }
}

// VPTeamPageTitle

.VPTeamPageTitle {
  padding: 3rem 2rem;
  text-align: center;
}

@media (min-width: 48rem) {
  .VPTeamPageTitle {
    padding: 4rem 3rem 3rem;
  }
}

@media (min-width: 60rem) {
  .VPTeamPageTitle {
    padding: 5rem 4rem 3rem;
  }
}

.VPTeamPageTitle .title {
  letter-spacing: 0;
  line-height: 1.2222222;
  font-size: 2.25rem;
  font-weight: 500;
}

@media (min-width: 48rem) {
  .VPTeamPageTitle .title {
    letter-spacing: -0.0104167em;
    line-height: 1.1666667;
    font-size: 3rem;
  }
}

.VPTeamPageTitle .lead {
  margin: 0 auto;
  max-width: 32rem;
  padding-top: 0.75rem;
  line-height: 1.5;
  font-size: 1rem;
  font-weight: 500;
  color: var(--vp-c-text-2);
}

@media (min-width: 48rem) {
  .VPTeamPageTitle .lead {
    max-width: 37rem;
    letter-spacing: 0.0075em;
    line-height: 1.4;
    font-size: 1.25rem;
  }
}

// VPTeamPageSection

.VPTeamPageSection {
  padding: 0 2rem;
}

@media (min-width: 48rem) {
  .VPTeamPageSection {
    padding: 0 3rem;
  }
}

@media (min-width: 60rem) {
  .VPTeamPageSection {
    padding: 0 4rem;
  }
}

.VPTeamPageSection .title {
  position: relative;
  margin: 0 auto;
  max-width: 72rem;
  text-align: center;
  color: var(--vp-c-text-2);
}

.VPTeamPageSection .title-line {
  position: absolute;
  top: 1rem;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: var(--vp-c-divider);
}

.VPTeamPageSection .title-text {
  position: relative;
  display: inline-block;
  margin: 0;
  border-top: none;
  padding: 0 1.5rem;
  letter-spacing: 0;
  line-height: 1.6;
  font-size: 1.25rem;
  font-weight: 500;
  background-color: var(--vp-c-bg);
}

.VPTeamPageSection .lead {
  margin: 0 auto;
  max-width: 30rem;
  padding-top: 0.75rem;
  text-align: center;
  line-height: 1.5;
  font-size: 1rem;
  font-weight: 500;
  color: var(--vp-c-text-2);
}

.VPTeamPageSection .members {
  padding-top: 2.5rem;
}

// VPTeamMembers

.VPTeamMembers.small .container {
  grid-template-columns: repeat(auto-fit, minmax(14rem, 1fr));
}

.VPTeamMembers.small.count-1 .container {
  max-width: 17.25rem;
}

.VPTeamMembers.small.count-2 .container {
  max-width: calc(17.25rem * 2 + 1.5rem);
}

.VPTeamMembers.small.count-3 .container {
  max-width: calc(17.25rem * 3 + 1.5rem * 2);
}

.VPTeamMembers.medium .container {
  grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
}

@media (min-width: 23.4375rem) {
  .VPTeamMembers.medium .container {
    grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
  }
}

.VPTeamMembers.medium.count-1 .container {
  max-width: 23rem;
}

.VPTeamMembers.medium.count-2 .container {
  max-width: calc(23rem * 2 + 1.5rem);
}

.VPTeamMembers .container {
  display: grid;
  gap: 1.5rem;
  margin: 0 auto;
  max-width: 72rem;
  list-style: none;
  padding: 0;
}

// VPTeamMembersItem

.VPTeamMembersItem {
  display: flex;
  flex-direction: column;
  gap: 0.125rem;
  border-radius: 0.75rem;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.VPTeamMembersItem.small .profile {
  padding: 2rem;
}

.VPTeamMembersItem.small .data {
  padding-top: 1.25rem;
}

.VPTeamMembersItem.small .avatar {
  width: 4rem;
  height: 4rem;
}

.VPTeamMembersItem.small .name {
  line-height: 1.5;
  font-size: 1rem;
}

.VPTeamMembersItem.small .affiliation {
  padding-top: 0.25rem;
  line-height: 1.4285714;
  font-size: 0.875rem;
}

.VPTeamMembersItem.small .desc {
  padding-top: 0.75rem;
  line-height: 1.4285714;
  font-size: 0.875rem;
}

.VPTeamMembersItem.small .links {
  margin: 0 -1rem -1.25rem;
  padding: 0.625rem 0 0;
}

.VPTeamMembersItem.medium .profile {
  padding: 3rem 2rem;
}

.VPTeamMembersItem.medium .data {
  padding-top: 1.5rem;
  text-align: center;
}

.VPTeamMembersItem.medium .avatar {
  width: 6rem;
  height: 6rem;
}

.VPTeamMembersItem.medium .name {
  letter-spacing: 0.0075em;
  line-height: 1.4;
  font-size: 1.25rem;
}

.VPTeamMembersItem.medium .affiliation {
  padding-top: 0.25rem;
  font-size: 1rem;
}

.VPTeamMembersItem.medium .desc {
  padding-top: 1rem;
  max-width: 18rem;
  font-size: 1rem;
}

.VPTeamMembersItem.medium .links {
  margin: 0 -1rem -0.75rem;
  padding: 1rem 0.75rem 0;
}

.VPTeamMembersItem .profile {
  flex-grow: 1;
  background-color: var(--vp-c-bg-soft);
}

.VPTeamMembersItem .data {
  text-align: center;
}

.VPTeamMembersItem .avatar {
  position: relative;
  flex-shrink: 0;
  margin: 0 auto;
  border-radius: 50%;
  box-shadow: var(--vp-shadow-3);
}

.VPTeamMembersItem .avatar-img {
  position: absolute;
  inset: 0;
  margin: 0;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.VPTeamMembersItem .name {
  margin: 0;
  letter-spacing: normal;
  font-weight: 600;
}

.VPTeamMembersItem .affiliation {
  margin: 0;
  line-height: 1.5;
  font-weight: 500;
  color: var(--vp-c-text-2);
}

.VPTeamMembersItem .org.link {
  color: var(--vp-c-text-2);
  transition: color 0.25s;
}

.VPTeamMembersItem .org.link:hover {
  color: var(--vp-c-brand-1);
}

.VPTeamMembersItem .desc {
  margin: 0 auto;
  line-height: 1.5;
}

.VPTeamMembersItem .desc a {
  font-weight: 500;
  color: var(--vp-c-brand-1);
  text-decoration-style: dotted;
  transition: color 0.25s;
}

.VPTeamMembersItem .links {
  display: flex;
  justify-content: center;
  height: 3.5rem;
}

.VPTeamMembersItem .sp-link {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 1rem;
  font-size: 0.875rem;
  font-weight: 500;
  color: var(--vp-c-sponsor);
  background-color: var(--vp-c-bg-soft);
  transition: color 0.25s, background-color 0.25s;
}

.VPTeamMembersItem .sp .sp-link.link:hover,
.VPTeamMembersItem .sp .sp-link.link:focus {
  outline: none;
  color: var(--vp-c-white);
  background-color: var(--vp-c-sponsor);
}

.VPTeamMembersItem .sp-icon {
  margin-right: 0.5rem;
  font-size: 1rem;
}
